[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "turkey_eq_monitor"

[packages]
pytest = "*"
cartopy = "*"
h5py = "*"
requests = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pathlib = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
